<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maroon || Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="img/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- animated-text.css -->
    <link rel="stylesheet" href="css/animated-text.css">
    <!-- material-design-iconic-font.min.css -->
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- magnific-popup.css -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- style css -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="preloader"></div>
<!-- header-start -->
<header>
    <div class="header-area">
        <div id="main-menu" class="sticker">
            <div class="container-fluid">
                <!--second nav button -->
                <div id="menu_bars" class="right hidden-xs">
                    <span class="t1"></span>
                    <span class="t2"></span>
                    <span class="t3"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="logo floatleft navbar-header">
                                <a class="navbar-brand" href="index-2.html"><h3>Maroon</h3></a>
                                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-2">
                                    <i class="fa fa-bars menu-open"></i>
                                    <i class="fa fa-times menu-close"></i>
                                </button>
                            </div>
                            <div class="main-menu floatright collapse navbar-collapse" id="main-menu-2">
                                <nav>
                                    <ul class="menu one-page">
                                        <li class="active"><a href="#home">HOME</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#work">work </a></li>
                                        <li><a href="#team">team</a></li>
                                        <li><a href="#pricing">pricing</a></li>
                                        <li><a href="#blog">blog</a></li>
                                        <li><a href="#contact">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<!-- slider-area-start -->
<div class="slider-area" id="home">
    <div class="single-slider opacity-1 slide-2" data-stellar-background-ratio="0.6">
        <div id="particles-js"></div>
        <div class="table">
            <div class="table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="header-text text-center">
                                <h3>Creative One Page Template</h3>
                                <h2 class="cd-headline clip is-full-width">
										<span class="cd-words-wrapper">
											<b class="is-visible">We Make Website.</b>
											<b>We Create Brand.</b>
										</span>
                                </h2>
                                <a class="default-btn btn-active"  href="#About">Get started</a>
                                <a class="default-btn" href="#contact">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
<!-- about-area-start -->
<div class="about-area ptb-100" id="about">
    <div class="about-bg parallax-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 col-md-offset-6">
                <div class="about-text">
                    <h2>WELCOME TO Maroon</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentiallyIt has survived not only five centuriesLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a class="default-btn about-btn" href="#contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->
<!-- video-area-start -->
<div class="video-area bg-opacity-1 bg-img-2 ptb-200" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="video-inner text-center">
                    <a href="https://www.youtube.com/watch?v=6NC_ODHu5jg" class="video-play mfp-iframe">
                        <i class="fa fa-play"></i>
                    </a>
                    <h3>Watch Our Story</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video-area-end -->
<!-- service-area-start -->
<div class="service-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Our Service</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-smartphone-iphone"></i>
                    </div>
                    <div class="service-text">
                        <h3>Web Development</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-camera"></i>
                    </div>
                    <div class="service-text">
                        <h3>Photography</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-brush"></i>
                    </div>
                    <div class="service-text">
                        <h3>Software Development</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-wrench"></i>
                    </div>
                    <div class="service-text">
                        <h3>24/7 Free Support</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-watch"></i>
                    </div>
                    <div class="service-text">
                        <h3>FrontEnd Development</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="zmdi zmdi-coffee"></i>
                    </div>
                    <div class="service-text">
                        <h3>Marketing Services</h3>
                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-area-end -->
<!-- fun-fact-section-start -->
<section class="fun-fact-area bg-img-5 bg-opacity-1" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 ptb-0 col-sm-4 col-xs-12">
                <div class="single-count funbgone text-center">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <h2 class="counter">220</h2>
                    <p>HAPPY CUSTOMERS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 ptb-0 col-sm-4 col-xs-12">
                <div class="single-count funbgtwo text-center">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2 class="counter">330</h2>
                    <p>total CLIENTS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 ptb-0 col-sm-4 col-xs-12">
                <div class="single-count funbgthree text-center">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <h2 class="counter">330</h2>
                    <p>Done job</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 ptb-0 hidden-sm col-xs-12">
                <div class="single-count funbgfour text-center">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <h2 class="counter">560</h2>
                    <p>feed backtt</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fun-fact-section-end -->
<!-- portfolio-area-start -->
<div class="portfolio-area ptb-100" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Portfolio</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-menu text-center mb-50">
                    <span class="active" data-filter="*">ALL</span>
                    <span data-filter=".port1">Design</span>
                    <span data-filter=".port2">Brand</span>
                    <span data-filter=".port3">Graphic</span>
                    <span data-filter=".port4">Video</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid">
                <div class="col-lg-4 col-md-4 col-sm-6  col-xs-12 grid-item port1 port4">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/1.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/1.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item port4">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/2.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/2.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item port1 port3">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/3.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/3.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item port1">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/4.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/4.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item port4">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/5.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/5.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 grid-item port2">
                    <div class="single-portfolio">
                        <div class="portfolio-img">
                            <img src="img/portfolio/6.jpg" alt="" />
                            <div class="portfolio-view">
                                <a class="img-poppu" href="img/portfolio/6.jpg">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-text">
                            <h4><a href="#">Web development</a></h4>
                            <span>mobile/web design</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-btn text-center mt-30">
                    <a href="#" class="button-hover">view more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- portfolio-area-end -->
<!-- call-to-area-start -->
<div class="coll-to-area bg-img-3 ptb-130 bg-opacity-1" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="colto-wrap text-center">
                    <h3><i class="fa fa-quote-left" aria-hidden="true"></i> Progress is impossible without change, and those who cannot change their minds cannot change anything.<i class="fa fa-quote-right" aria-hidden="true"></i> </h3>
                    <span>_ George Bernard Shaw</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- call-to-area-end -->
<!-- team-area-start -->
<div class="team-area dotted-style-1 ptb-100" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Creative Team</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-carousel-active owl-carousel">
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-img">
                            <a href="#"><img src="img/team/1.jpg" alt="" /></a>
                        </div>
                        <div class="team-hover">
                            <div class="team-icon">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-globe"></i></a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>jonathon doe</h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-img">
                            <a href="#"><img src="img/team/2.jpg" alt="" /></a>
                        </div>
                        <div class="team-hover">
                            <div class="team-icon">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-globe"></i></a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>jonathon doe</h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-team">
                        <div class="team-img">
                            <a href="#"><img src="img/team/3.jpg" alt="" /></a>
                        </div>
                        <div class="team-hover">
                            <div class="team-icon">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-globe"></i></a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4>jonathon doe</h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-end -->
<!-- testimonial-area-start -->
<div class="testimonial-area ptb-100 bg-img-4 opacity-1" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="client-active owl-carousel">
                <div class="col-lg-12">
                    <div class="single-client text-center">
                        <div class="client-img">
                            <img src="img/team/1.png" alt="" />
                        </div>
                        <div class="client-text">
                            <h3>Jhonathon doe</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit,sed do eiusmod tempor inci didunt There are many variations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-client text-center">
                        <div class="client-img">
                            <img src="img/team/2.png" alt="" />
                        </div>
                        <div class="client-text">
                            <h3>Jhonathon doe</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit,sed do eiusmod tempor inci didunt There are many variations.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-client text-center">
                        <div class="client-img">
                            <img src="img/team/1.png" alt="" />
                        </div>
                        <div class="client-text">
                            <h3>Jhonathon doe</h3>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit,sed do eiusmod tempor inci didunt There are many variations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
<!-- pricing-area-start -->
<div class="pricing-area ptb-100 gray-bg" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>our pricing</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-price text-center">
                    <div class="price-title">
                        <h4>Basic</h4>
                        <span class="price-dollar">$</span>
                        <span class="text-large">50</span>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Full access</li>
                            <li>2 Unique Users</li>
                            <li>every month</li>
                            <li>60 GB Bandwidth</li>
                            <li>24x7 Support</li>
                        </ul>
                        <div class="price-btn">
                            <button class="button" type="button">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-price active text-center">
                    <div class="price-title">
                        <h4>Standard</h4>
                        <span class="price-dollar">$</span>
                        <span class="text-large">150</span>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Full access</li>
                            <li>5 Unique Users</li>
                            <li>every month</li>
                            <li>60 GB Bandwidth</li>
                            <li>24x7 Support</li>
                        </ul>
                        <div class="price-btn">
                            <button class="button" type="button">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-price text-center">
                    <div class="price-title">
                        <h4>Premium</h4>
                        <span class="price-dollar">$</span>
                        <span class="text-large">200</span>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Full access</li>
                            <li>10 Unique Users</li>
                            <li>every month</li>
                            <li>60 GB Bandwidth</li>
                            <li>24x7 Support</li>
                        </ul>
                        <div class="price-btn">
                            <button class="button" type="button">Order Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing-area-end -->
<!-- blog-area-start -->
<div class="blog-area ptb-100" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>our blog</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <img src="img/blog/1.jpg" alt="" />
                    </div>
                    <div class="blog-info">
                        <h4><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>November 7, 2017</span>
                            <a href="#"><span><i class="fa fa-folder-o"></i>creative</span></a>
                            <a href="#"><span><i class="fa fa-comment"></i>0</span></a>
                        </div>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard  text of dummy...</p>
                        <a href="blog-details.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <img src="img/blog/2.jpg" alt="" />
                    </div>
                    <div class="blog-info">
                        <h4><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>November 7, 2017</span>
                            <a href="#"><span><i class="fa fa-folder-o"></i>creative</span></a>
                            <a href="#"><span><i class="fa fa-comment"></i>2</span></a>
                        </div>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard  text of dummy...</p>
                        <a href="blog-details.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <img src="img/blog/3.jpg" alt="" />
                    </div>
                    <div class="blog-info">
                        <h4><a href="blog-details.html">Lorem Ipsum is simply dummy</a></h4>
                        <div class="blog-date">
                            <span><i class="fa fa-calendar"></i>November 7, 2017</span>
                            <a href="#"><span><i class="fa fa-folder-o"></i>creative</span></a>
                            <a href="#"><span><i class="fa fa-comment"></i>3</span></a>
                        </div>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard  text of dummy...</p>
                        <a href="blog-details.html">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog-area-end -->
<!-- callto-action-area-start -->
<div class="callto-action-area ptb-70 default-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="callto-action">
                    <h2>Maroon - One Page Parallax</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="callto-btn text-right">
                    <a href="#">purchase now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- callto-action-area-end -->
<!-- contact-area-start -->
<div class="contact-area ptb-100" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>Contact us</h2>
                    <p>Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut reitad dolore magna aliqua ut enim minim beniaps quis nostrual exercitationullamco laboris sed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="contact-form">
                    <div class="cf-msg"></div>
                    <form action="mail.php" method="post" id="cf">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" placeholder="Name" id="fname" name="fname">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" placeholder="Email" id="email" name="email">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" placeholder="Subject" id="subject" name="subject">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea class="contact-textarea" placeholder="Message" id="msg" name="msg"></textarea>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="cont-submit" id="submit" name="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-envelope-o"></i>
                        <p>
                            Email : support@domain.com<br>
                            <span>Web: www.slashtheme.com</span>
                        </p>
                    </div>
                </div>
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-mobile"></i>
                        <p>
                            Call : +1-202-555-0135<br>
                            <span>Monday-Saturday (10am-18pm)</span>
                        </p>
                    </div>
                </div>
                <div class="contact-icon text-center">
                    <div class="single-icon">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            Location : Newyork city<br>
                            <span>23 house/3 Road</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact-area-end -->
<!-- footer-start -->
<footer>
    <div class="footer-area black-bg ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center col-md-12 col-sm-12 col-xs-12">
                    <h2 class="footer-title">Maroon</h2>
                    <div class="contact-sochil-icon copyright-icon">
                        <a href="#"><i class="zmdi zmdi-google"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-left text-center">
                        <span>Copyright © 2017 Slashtheme All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->


<!-- all js here -->
<!-- jquery latest version -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="js/owl.carousel.min.js"></script>
<!-- wow js -->
<script src="js/wow.min.js"></script>
<!-- jquery.stellar.min.js -->
<script src="js/jquery.stellar.min.js"></script>
<!-- isotope.pkgd.min.js -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- imagesloaded.pkgd.min.js -->
<script src="js/imagesloaded.pkgd.min.js"></script>
<!-- jquery.counterup.min.js-->
<script src="js/jquery.counterup.min.js"></script>
<!-- animated-text.js-->
<script src="js/animated-text.js"></script>
<!-- particles.min.js -->
<script src="js/particles.min.js"></script>
<!-- app.js -->
<script src="js/app.js"></script>
<!-- jquery.scrollUp.js-->
<script src="js/jquery.scrollUp.js"></script>
<!-- waypoints.min.js-->
<script src="js/waypoints.min.js"></script>
<!-- jquery.magnific-popup.min.js-->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- plugins js -->
<script src="js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
</body>
</html>
