<div class="breadcrumb-area opacity-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs text-center">
                    <h2>{{ 'pageTitle' }}</h2>
                    <ul>
                        <li><a href="{{ path('homepage') }}">home</a></li>
                        <li>{{ 'pageTitle' }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
